
<form name="formSaisie" id="mainForm">
    <fieldset>
        <legend>
            <h2>Récupération</h2>
        </legend>

        Nom :<br />
        <input [disabled]="true" type="text" name="nom" id="nom" value={{nom}}/>
        <br />

        Prenom :<br />
        <input [disabled]="true" type="text" name="prenom" id="prenom" value={{prenom}}/>
        <br />

        Adresse :<br />
        <input [disabled]="true" type="text" name="adresse" id="adresse" value={{adresse}}/>
        <br />

        Code postal :<br />
        <input [disabled]="true" type="number" name="cp" id="cp" value={{cp}}/>
        <br />

        Login :<br />
        <input [disabled]="true" type="numtextber" name="login" id="login" value={{login}}/>
        <br />

    </fieldset>
    <br />
</form>
